<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}
<html>
	<head>
		<title>Radius by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static "assets/css/main.css" %}"/>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<div class="content">
						<h1>Radius</h1>
						<h2>A fully responsive masonry-style<br />
						portfolio template.</h2>
						<a href="#" class="button big alt"><span>Let's Go</span></a>
					</div>
					<a href="#" class="button hidden"><span>Let's Go</span></a>
				</div>
			</header>

		<!-- Main -->
			<div id="main">
				<div class="inner">
					<div class="columns">
						{% for o in object_list|slice:":16" %}
							<div class="image fit">
								{% if o.first == "0" %}
									<a href="article/{{ o.id }}"><img src="{% static 'images/Number-girl.jpg' %} "  alt="" /></a>
								{% else %}
									<a href="article/{{ o.id }}"><img src="{% static 'images'%}/{{ o.first }}.jpg "  alt="" /></a>
								{% endif %}
							</div>
						{% empty %}
							<li> No articles yet. </li>
						{% endfor %}
					</div>
				</div>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner">
					<div class="content">
						<h3>Vestibulum hendrerit tortor id gravida</h3>
						<p>In tempor porttitor nisl non elementum. Nulla ipsum ipsum, feugiat vitae vehicula vitae, imperdiet sed risus. Fusce sed dictum neque, id auctor felis. Praesent luctus sagittis viverra. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla.</p>
					</div>
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static "assets/js/jquery.min.js" %}" ></script>
			<script src="{% static "assets/js/skel.min.js" %}" ></script>
			<script src="{% static "assets/js/util.js" %}" ></script>
			<script src="{% static "assets/js/main.js" %}" ></script>

	</body>
</html>
